.heading-2{
  text-transform: uppercase;
  font-size: 3rem;
  font-family: $font-primary;
}

.heading-title {
  text-transform: uppercase;
  font-size: 2.3rem;
  font-family: $font-primary;
  color: $color-primary-dark;
}
